# Importation des librairies

In [1]:
import numpy as np
import pandas as pd

# Importation des datasets

In [2]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

# Analyse exploratoire

In [3]:
train_df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

# Machine Learning

## Random Forest

In [4]:
def prepare_df(df_unprepared) :
    df = df_unprepared
    df["Sex"] = df["Sex"].map({"male": 0, "female": 1})
    df["Embarked"] = df["Embarked"].map({"S": 0, "C": 1,"Q":2})
    df["NameLength"] = df["Name"].str.len()
    df["FamilySize"] = df["SibSp"]+df["Parch"]+1
    df = df.drop(columns=["PassengerId", "Ticket","Name","Cabin"])
    return df

In [5]:
X = prepare_df(train_df)
X = X.drop(columns=["Survived"])
y = train_df["Survived"]

X_test = prepare_df(test_df)

X.head(20)

    Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  NameLength  FamilySize
0        3    0  22.0      1      0   7.2500       0.0          23           2
1        1    1  38.0      1      0  71.2833       1.0          51           2
2        3    1  26.0      0      0   7.9250       0.0          22           1
3        1    1  35.0      1      0  53.1000       0.0          44           2
4        3    0  35.0      0      0   8.0500       0.0          24           1
5        3    0   NaN      0      0   8.4583       2.0          16           1
6        1    0  54.0      0      0  51.8625       0.0          23           1
7        3    0   2.0      3      1  21.0750       0.0          30           5
8        3    1  27.0      0      2  11.1333       0.0          49           3
9        2    1  14.0      1      0  30.0708       1.0          35           2
10       3    1   4.0      1      1  16.7000       0.0          31           3
11       1    1  58.0      0      0  26.5500       0.0          24           1
12       3    0  20.0      0      0   8.0500       0.0          30           1
13       3    0  39.0      1      5  31.2750       0.0          27           7
14       3    1  14.0      0      0   7.8542       0.0          36           1
15       2    1  55.0      0      0  16.0000       0.0          32           1
16       3    0   2.0      4      1  29.1250       2.0          20           6
17       2    0   NaN      0      0  13.0000       0.0          28           1
18       3    1  31.0      1      0  18.0000       0.0          55           2
19       3    1   NaN      0      0   7.2250       1.0          23           1

### Préparation

In [6]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)

clf = clf.fit(X, y)

In [7]:
submission = clf.predict(X_test)

In [8]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': submission})
output.to_csv('submission_rf.csv', index=False)

## CatBoost

### Préparation

In [9]:
def prepare_df(df_unprepared) :
    df = df_unprepared
    df["NameLength"] = df["Name"].str.len()
    df["FamilySize"] = df["SibSp"]+df["Parch"]+1
    df = df.drop(columns=[ "PassengerId"])
    return df

In [10]:
X = prepare_df(train_df)
X = X.drop(columns=["Survived"])
y = train_df["Survived"]

X_test = prepare_df(test_df)

X.head(20)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NameLength,FamilySize
0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0.0,23,2
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1.0,51,2
2,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0,22,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0.0,44,2
4,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0.0,24,1
5,3,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,2.0,16,1
6,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,0.0,23,1
7,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,0.0,30,5
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,0.0,49,3
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,1.0,35,2
10,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,0.0,31,3
11,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,0.0,24,1
12,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,0.0,30,1
13,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,0.0,27,7
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,0.0,36,1
15,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,0.0,32,1
16,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,2.0,20,6
17,2,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,0.0,28,1
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,0.0,55,2
19,3,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,1.0,23,1

### Modèle

In [ ]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score, accuracy_score, f1_score

cat_features = ["Name", "Sex","Ticket", "Cabin", "Embarked"]

for col in cat_features:
    X[col] = X[col].fillna("Missing").astype(str)
    X_test[col] = X_test[col].fillna("Missing").astype(str)

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.25, random_state=42
)

model = CatBoostClassifier(
    iterations=2000,
    depth=5,
    learning_rate=0.03,
    loss_function="Logloss",
    eval_metric="AUC",
    l2_leaf_reg=6,
    random_strength=10,
    bootstrap_type="Bernoulli",
    subsample=0.8,
    early_stopping_rounds=100,
    verbose=False
    )

model.fit(
    X_train, y_train,
    cat_features=cat_features,
    eval_set=(X_val, y_val)
)

0:	test: 0.8075214	best: 0.8075214 (0)	total: 55.1ms	remaining: 1m 50s
100:	test: 0.8862988	best: 0.8865504 (98)	total: 3.31s	remaining: 1m 2s
200:	test: 0.8970736	best: 0.8970736 (198)	total: 6.39s	remaining: 57.2s
300:	test: 0.9018112	best: 0.9019789 (287)	total: 9.41s	remaining: 53.1s
400:	test: 0.9062133	best: 0.9068003 (387)	total: 14.3s	remaining: 57s
500:	test: 0.9090223	best: 0.9092739 (474)	total: 19.6s	remaining: 58.7s
600:	test: 0.9098608	best: 0.9117055 (516)	total: 24.4s	remaining: 56.8s
700:	test: 0.9080999	best: 0.9117055 (516)	total: 29.2s	remaining: 54.1s
800:	test: 0.9061714	best: 0.9117055 (516)	total: 33.8s	remaining: 50.6s
900:	test: 0.9030689	best: 0.9117055 (516)	total: 38.8s	remaining: 47.3s
1000:	test: 0.8998826	best: 0.9117055 (516)	total: 43.8s	remaining: 43.7s
1100:	test: 0.8967801	best: 0.9117055 (516)	total: 48.8s	remaining: 39.9s
1200:	test: 0.8956062	best: 0.9117055 (516)	total: 53.2s	remaining: 35.4s
1300:	test: 0.8947677	best: 0.9117055 (516)	total: 57.6s	remaining: 31s
1400:	test: 0.8940969	best: 0.9117055 (516)	total: 1m 2s	remaining: 26.5s
1500:	test: 0.8928392	best: 0.9117055 (516)	total: 1m 6s	remaining: 22.2s
1600:	test: 0.8917491	best: 0.9117055 (516)	total: 1m 11s	remaining: 17.8s
1700:	test: 0.8920007	best: 0.9117055 (516)	total: 1m 15s	remaining: 13.3s
1800:	test: 0.8911622	best: 0.9117055 (516)	total: 1m 20s	remaining: 8.88s
1900:	test: 0.8905752	best: 0.9117055 (516)	total: 1m 25s	remaining: 4.45s
1999:	test: 0.8897367	best: 0.9117055 (516)	total: 1m 29s	remaining: 0us

bestTest = 0.9117055174
bestIteration = 516

Shrink model to first 517 iterations.

In [19]:
submission = model.predict(X_test)

In [20]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': submission})
output.to_csv('submission_catboost.csv', index=False)